<div class="overlay" id="overlay">
    <div class="overlay-content">
        
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message:</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        
        <span id="closeButton" class="close-btn" onclick="closeOverlay()">&times;</span>
        {% if user.is_authenticated %}
        <h3>Hello {{username}}!</h3>
        <h4>You're successfully logged in.</h4>
        <button type="submit"><a href="/signout">SignOut</a></button>
        {% else %}
            <h1 id="title">SIGN UP</h1>
            <form action="auth/authenticate" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <div class="input-field" >                    
                        <i class="fa-solid fa-user"></i>                    
                        <input type="email" placeholder="Enter Your Email" name="email" required>
                    </div>
                    
                     <div class="input-field" id="nameField">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="text" placeholder="Enter Your Username" id="username" name="username" required>            
                    </div> 
                    
                    <div class="input-field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" placeholder="Enter Your Password" id="password" name="pass1" required>
                        <img src="eye-close.png" class ="eye-icon" id="eyeicon"alt="">
                    </div> 
                    
                     <div class="input-field" id="passField">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" placeholder="Confirm Your Password" id="pass2" name="pass2" required>
                        <img src="eye-close.png" class ="eye-icon" id="eyeicon"alt="">
                    </div> 
                    <br>
                    <pre>    
                    <a  href="#">Forget Password</a></pre>
                    
                </div>
                <br>
                <div class="btn-field">
                    <button type="submit" name="action" value="signup"  id="signupBtn" ><b> SIGN UP</b></button>
                    <button type="submit" name="action" value="login" id="signinBtn" style="display:none;"><b>LOGIN</b></button>
                    <br>
                    <span id="signupBtn1" style="display:none;">New Here? <b style="cursor:pointer; background-color: white; color: black;">SIGN UP</b></span>
                    <span id="signinBtn1">Already Have An Account? <b style="cursor:pointer; background-color: white; color: black;">LOGIN</b></span>
                </div>
                            
            </form>          
        {% endif %}         
    </div>
</div>