{% extends "sections/base.html" %}
{% block css %}<link rel="stylesheet" id="theme-link" href="static/css/styles.css">{% endblock css %}
{% block title %}Home{% endblock title %}

{% block body %}
<!-- Home Section Begins -->
<div class="home-section" id="mainContent">
    <div class="home-text">
        <h3>Lets</h3>
        <h1>E-learning</h1>
        <h2>at your home</h2>
        <p>A place where learning becomes fun</p>
        <div class="home-btn">
            <div class="btn-left">
                <button class="btnl" id="applyButton" onclick="openOverlay()">Sign Up</button>
            </div>
        </div>
    </div>
    <div class="home-image">
        <img src="static\images\IMG-20240104-WA0045.jpg" alt="Image Description">
    </div>
</div>

<!-- Sign up Begins -->
{% include "sections/signup.html" %}

{% include "sections/contact.html" %}

{% comment %} {% include "sections/footer.html" %} {% endcomment %}
{% block javascript %}<script src="static/js/script.js"></script>{% endblock javascript %}


<!-- <i class="fa-duotone fa-comment-dots"></i> -->
<!-- <i class="fa-regular fa-video"></i> video -->
<!-- <i class="fa-solid fa-sun"></i> bright -->
<!-- <i class="fa-solid fa-moon"></i> dark -->

{% endblock body %}